<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <title>Sign In</title>
  </head>
        <%- include('../partials/_navbar singin.ejs') %>

  <body class="sign-page" id="in">
    <form action="/auth/sign-in" method="POST" class="sign " >
       <h1>Log in</h1>
      
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
