<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
  </head>
      <%- include('../partials/_navbar singup.ejs') %>

  <body class="sign-page">
    
    <form action="/auth/sign-up" method="POST" class="sign" id="up">
      <h1>Create a new account!</h1>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      
      <label for="pictureprof">picture  profile:</label>
      <input type="text" name="pictureprof" id="pictureprof" />
    
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
