<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body id="index">
  <%- include('./partials/_navbar.ejs') %>
  <h1 id="indexh">
  <span>H</span> 
  <span>e</span>
  <span>l</span>
  <span></span>
  <span>l</span>
  <span>o</span>
  <span>!</span>
  </h1>
  <br>
  <div class="but">
    <button type="submit"><a href="/cards/show">show card</a></button>
      <button type="submit"><a href="/cards/new">Add new card</a></button>
  </div>
  



  
</body>
</html>