<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body id="index">
  <%- include('./partials/_navbar.ejs') %>

  <h1 id="indexh">
    <% if (user && user.username) { %>
        <span class="hello">H</span> 
        <span class="hello" >e</span>
        <span class="hello">l</span>
        <span class="hello" >l</span>
        <span class="hello" >o</span>
        <span class="hello" >,</span>
        <span class="hello" ><%= user.username %>!</span>
    <% } else { %>
        <span class="hello">G</span> 
        <span class="hello" >e</span>
        <span class="hello" >t  </span>
        <span class="hello" >&nbsp;</span> 
        <span class="hello" >S</span>
        <span class="hello" >t</span>
        <span class="hello" >a</span>
        <span class="hello" >r</span>
        <span class="hello" >t</span>
        <span class="hello" >e</span>
        <span class="hello" >d</span>
        <span class="hello" >!</span>
    <% } %>
  </h1>

  <div class="start">
    <div class="h2p">
        <h2>**Ready to Boost Your Memory?**</h2>
        <p>
            Flashcards are the most effective way to master new subjects. Let's start learning!
        </p>
   
     </div>

    <div class="but" >
        
        <a href="/cards/show" class="btn-primary">
            Browse All Cards
        </a>
        
        <a href="/cards/new" class="btn-primary">
            Create New Card
        </a>
        
    </div>

   
  </div>
</body>
</html>


  
