
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding-top: 100px;
    overflow: hidden;

}
.sign-page{
    background-image:url(/images/back.png) ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}
#in{
    padding-top: 12%;

}


h1, h2, h3 {
    color: #3D0923;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;               
}


.container {
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto;
    padding: 20px;
    background-color: #E5CDC8; 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.sign {
    background-color: #bf7a7aa0;
    padding: 30px;
    border-radius: 12px;
    box-shadow: (0 10px 30px rgba(0, 0, 0, 0.75));
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 515px;
    margin: auto;
    backdrop-filter: blur(10px);
}
.sign label{
 font-weight: bold;
    color:#933664;
    margin-top: 5px;
}

.sign input:hover {
    border-color: #750D37;
    transform: translateX(-2px);
}





label {
    font-weight: bold;
    color: #390040;
    align-self: self-start;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    width: 100%;
}

input:focus {
    border-color: #5d3f6a; 
    box-shadow: 0 0 5px rgba(93, 63, 106, 0.5);
    outline: none;
}

button[type="submit"],
.btn-primary,
.add-new-card-link {
    padding: 12px 25px;
    background-color: #7b4f9f; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button[type="submit"]:hover,
.btn-primary:hover {
    background-color: #5d3f6a; 
    transform: translateY(-1px);
}

.btn-delete {
    background-color: #A31621; 
    margin-top: 0;
}

.btn-delete:hover {
    background-color: #A31621; 
}



.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 25px; 
    margin-top: 30px;
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .cards-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

.card-item {
    background-color: #FFEBF2; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-left: 6px solid #7b4f9f; 
}

.card-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
}

.card-header {
    background-color: #f9f9f9; 
    color: #2c3e50;
    padding: 15px 20px;
    flex-grow: 1;
    display: flex;

    min-height: 80px; 
    text-align: center;
}

.card-header h3 {
    margin: 0;
    color: #56153D; 
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.4;
}

.card-footer {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    background-color: #eef1f4; 
    font-size: 0.9em;
}

.card-footer p {
    margin: 0;
    color: #8c53ab; 
    font-size: 0.9em;
}

.btn-card-details {
    padding: 6px 12px;
    background-color: #7b4f9f; 
    color: white; 
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.btn-card-details:hover {
    background-color: #4A2545; 
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30013B; 
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 90px;
}

.logo-image {
    width: 250px;
    height: 250px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: contain;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #7b4f9f; 
    object-fit: cover;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #7b4f9f; 
}

.navbar-user span {
    color: #ecf0f1;
    font-size: 1em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c152bcc; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 550px;
    position: relative;
}

.close-button {
    color: #888;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
    line-height: 1;
    transition: color 0.3s;
}
.close-button:hover,
.close-button:focus {
    color: rgb(174, 6, 6);
    text-decoration: none;
}

.flashcard-container {
    width: 100%;
    height: 450px; 
    position: relative;
    perspective: 1200px; 
    margin: 20px auto;
}

.flashcard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.flashcard.flipped {
    transform: rotateY(180deg); 
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 55px;
}

.card-front {
    background: radial-gradient(circle, #C45987, #7F3A58, #4E2235);
    color: white;
    z-index: 2;
    box-shadow: 
        0 4px 15px rgba(0, 0, 0, 0.3),
        inset 0 0 25px rgba(255, 255, 255, 0.15); 
    
    text-align: center;
    padding-top: 55px;
}

.card-front .card-info {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #f0f0f0;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.card-front .card-info img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    object-fit: cover;
    margin: 0;
}

.content-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 15px; 
}

.card-face h3 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-front p {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 10px;
}

.card-front img {
    max-width: 90%;
    max-height: 150px; 
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    object-fit: contain;
    flex-grow: 0;
}




.card-actions {
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    gap: 25px; 
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.btn-card-edit {
    padding: 10px 25px;
    background-color: #EB8A90;
    color: #333; 
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-card-edit:hover {
    background-color: #87A330;
}

.card-actions form {
    padding: 0; 
    border: none;
    background: none;
    display: block; 
}

.card-actions form button {
    padding: 10px 25px;
    background-color: #EB8A90; 
    color: #333;
    border: 3px solid #ff7f7f; 
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s, border-color 0.3s, transform 0.1s;
    box-shadow: 0 6px 10px rgba(255, 102, 102, 0.4); 
}

.card-actions form button:hover {
    background-color: #FF3C38; 
    border-color: #e74c3c; 
    transform: translateY(-2px);
}

.card-back {
    background: radial-gradient(circle, #d26091, #a14a70, #6f304b);
    color: white;
    transform: rotateY(180deg); 
    justify-content: space-between;
    padding-top: 30px;
}

.card-back p {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 10px;
    align-self: center;
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.flip-hint {
    position: relative; 
    bottom: 0;
    margin-bottom: 15px;
    font-size: 0.9em;
    opacity: 0.9;
    font-style: italic;
    font-weight: 300;
}
#index{
    justify-content: center;
    align-items: center;
}
#indexh{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.but{
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    padding-bottom: 100%;
    padding:80px 10px 80px 10px;
    margin-top: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
     backdrop-filter: blur(10px);
     color: white;
    background: radial-gradient(circle, #e376a5be, #a75277c2, #8f3e61bb);

    box-shadow: 
        0 4px 15px rgba(0, 0, 0, 0.3),
        inset 0 0 25px rgba(255, 255, 255, 0.15); 
    
    text-align: center;
    border-radius: 30px;

}








span{
    position: relative;
    top:20px;
    color:#9D6A89;
    display:inline-block ;
    font-size: 5rem;
    animation-name: bounce; 
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    text-shadow: 0 0 1px  #b7b7b7,
                 0 0 2px  #b7b7b7,
                 0 0 3px  #b7b7b7,
                 0 0 4px  #b7b7b7,
                 0 0 5px  #b7b7b7,
                 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 0px 10px rgba(0,0,0.5)
}



   @keyframes bounce {
  100% {
    top: -20px;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #ccc,
      0 3px 0 #ccc,
      0 4px 0 #ccc,
      0 5px 0 #ccc,
      0 6px 0 #ccc,
      0 7px 0 #ccc,
      0 8px 0 #ccc,
      0 9px 0 #ccc,
      0 60px 30px rgba(0, 0, 0, 0.3);
  }
} 
    

 h1 span:nth-child(1) {
    animation-delay: 0s;
}
 h1 span:nth-child(2) {
    animation-delay: 0.1s;
}
 h1 span:nth-child(3) {
    animation-delay: 0.2s;
}
h1 span:nth-child(4) {
    animation-delay: 0.3s;
}
h1 span:nth-child(5) {
    animation-delay: 0.4s;
}
 h1 span:nth-child(6) {
    animation-delay: 0.5s;
}