<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>All Flashcards</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
 <%- include('../partials/_navbar.ejs') %>

 <div class="container"> 
  <h1 id="H1">Here's all the Cards</h1> 
  
  <a href="/cards/new" class="btn-primary add-new-card-link">Add a New Card</a> 
  <div class="cards-grid"> 
      <% card.forEach((oneCard) => { %>
       <div class="card-item">

      <div class="card-header">
          <h3> <%= oneCard.title %></h3>
      </div>

 <div class="card-footer">
           <p>Owner: <strong><%= oneCard.owner.username %></strong></p>
           <a href="/cards/<%= oneCard._id %>" class="btn-card-details">See Details</a>
           </div>
       </div>
   <% }) %>
  </div>
 </div>

</body>
</html>