<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <%- include('./partials/_navbar.ejs') %>

        <h1>Here's all the Cards</h1>
    <a href="/cards/new">Add New Cards</a>

    <ul>
      <% cards.forEach((card) => { %>
      
        A card in <%= cards.question  %> owned by <%= cards.owner.username %>.
        <a href="/listings/<%= cards._id %>">See Details</a>
      
      <% }) %>
    </ul>
</body>
</html>