<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <%- include('../partials/_navbar.ejs') %>

        <h1>Here's all the Cards</h1>
    <a href="/cards/new">Add New Cards</a>

    <ul>
      <% card.forEach((oneCard) => { %>
      
        A card in <%= oneCard.question  %> owned by <%= oneCard.owner.username %>.
        <a href="/cards/<%= oneCard._id %>">See Details</a>
      
      <% }) %>
    </ul>
</body>
</html>